{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}



<div class="container">

    <h1>Mon panier</h1>
Retrouvez l'ensemble des produits que vous avez ajouté à votre panier
    <hr>
    
    {% if cart | length > 0  %} 
    <table class="table">
        <thead>
            <tr>
                <th scope="col" >Produits</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        
        {% for product in cart %}   
            <tr>
                
                <td>
                {{ product.product.name }}<br>
                
                </td>
                <td>
                
                <a href="{{path('decrease_to_cart', {'id' : product.product.id})}}">
                    <img src="{{asset('img/minus.png')}}" height="12px" alt="supprimer un produit">
                </a>
                x {{product.quantity}}
                <a href="{{path('add_to_cart', {'id' : product.product.id }) }}">
                    <img src="{{asset('img/plus.png')}}" height="12px" alt="ajouter un produit">
                </a>
                </td>
                <td>{{ product.product.price  | number_format(2, " , ", " ") }} €</td>
                <td>{{(product.product.price *  product.quantity  )| number_format(2, " , ", " ") }}</td>
                <td>
                    <a href="{{ path('remove_to_cart', {'id': product.product.id})}}" class="btn btn-danger btn-sm"> 
                    <i class="fas fa-trash"></i>
                    </a>
                
                </td>
            </tr>
        {% endfor %}
        

    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"  class="text-right text-bold">Nombre de produit :  
            </td>
            
            <td>{{ totalQ}}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4"  class="text-right text-bold">Total panier : 
            </td>
            <td>{{ total  | number_format(2, ",", " ") }} €</td>
            <td></td>
        </tr>
    </tfoot>
</table> 

{% else %}
<hr>
<p><b>Votre panier est vide</b></p>
{% endif %}
<hr>

</div>

{% endblock %}
