{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="container" id="overlay">
        <div class="jumbotron1">
            <div class="page" >
            <h1  id="accueil"  class="title display-3" ><span><span>Mon Agence Demo</span></span></h1>
            </div>
            <p class="lead text-center">Demain, ici c'est chez-vous</p>
            <hr class="my-4">
            <p class="text-center" style="color:black">Ce site démo est réalisé par Patrice Boyer, ces biens sont factices et libres de droit, <br>
            Les photos utilsées sont disponibles sur le site Unsplash.
            </p>
            <div class="btn1 text-center">
                <a class="btn btn-primary btn-lg mb-4" href="{{path('carte_index')}}" role="button">Découvrez notre sélection</a>
            </div>  
        </div>
</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{asset('/images/img1.jpg')}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{asset('/images/img2.jpg')}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{asset('/images/img3.jpg')}}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" href="#carouselExampleFade"  data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
  <button class="carousel-control-next" type="button" href="#carouselExampleFade" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
</div>
</div>

{% endblock %}
