#overlay {
    position: fixed; /*Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    padding-top: 30px;
    left: 0;
    right: 0;
    
    /*background-color: rgba(0,0,0,0.5);  Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; Add a pointer on hover */
  }

.jumbotron1{
    
   background-color: rgba(255, 255, 255, 0.5);
 
 }

 .lead{
     color:rgb(114, 55, 0);
 }

 h1{
     color: rgb(45, 45, 45);
 }

 .page {

    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .title{
     font-weight: 700;
     font-size: 70px;
     text-transform: uppercase;
 }

 .title span {
     display: inline-block;
     overflow: hidden;
 }

 .title span span {
    display: block;
    animation: titleReveal .7s both; 
 }

 @keyframes titleReveal{
     from {
         opacity: 0;
         transform: translateY(100%);
     }
     to{
         opacity: 1;
         transform: translateY(0);
     }

 }
 

 