{% extends 'base.html.twig' %}

{% block title %}Modification d'un Bien{% endblock %}

{% block body %}
<div class="container">
<div class="card border-warning mt-4">
    <h2 class="text-center ">Modifier le {{product.name}}</h2>
</div>


   {{form_start(form)}}
   {{form_widget(form)}}
   <a href="{{path('admin')}}" class="btn btn-secondary">Retour</a>
   <input type="submit" class="btn btn-primary" value="Valider" >
   {{form_end(form)}}

   

</div>
{% endblock %}
