
        <div class="card border-primary mb-3" style="max-width: 30rem;" >
            <div class="card-header">{{carte.name}}</div>

        {% if carte.image %}
            <img src="{{asset('images/' ~ carte.image)}}" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle" alt="">
            {% elseif carte.imageFile %}       
            <img src="{{asset('images/immo/' ~ carte.image)}}" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle" alt="">
        {% endif %}
            
            <div class="card-body">
                <h4 class="card-title" style="color:white;">{{carte.name}}</h4>
                <p class="card-text" >{{carte.description}}</p>
                <h5 class="card-title float-right" style="color:orange">{{carte.price | number_format( 2, "," , " ")}} €</h5>
            </div>
            {% if admin %}
                <div class="row no-gutters m-3">
                    <a href="{{path('modif_admin', {'id' : carte.id } )}}" class="col btn btn-warning">Modifier</a>
                    <form method="post" action="{{path('supProduct',{'id' :carte.id})}}" class="col" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');"  >
                        <input type="hidden" name="_method" value="SUP">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ carte.id)}}">
                        <input type="submit" class="btn btn-danger w-100" value="supprimer">
                    </form>
                </div>
                {% else %}
                    <div class="container">
                        <a href="{{path('add_to_cart',{'id' : carte.id })}}" class="btn btn-success mb-2 float-right"><i class="fas fa-shopping-cart mr-1"></i>  Ajouter </a>
                        
                    </div>
                    
            {% endif %}
        </div>
  