{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
</div>

<div class="container mt-4">
<div class="row">
    <div class="col-md-3">

                <div class="jumbotron">
                <h3>Filtrer</h3>
                {% include "carte/_filter.html.twig" with { form:form } only %}
                </div>
    </div>

    <div class="col-md-9">

        <h3>nos produits</h3>    
                {% if admin %}

                    <a href="{{path('creationImmo')}}" class="col btn btn-primary mb-4">Ajouter un bien</a>  
                {% endif %}
                
                <div class="row product-container">
                    
                {% for carte in cartes %}
                <div class="col-md-5">
                    {% include "carte/_carte.html.twig" with { admin:admin, carte:carte} only %} 
                </div> 
                {% endfor %}
                    
                </div>
            <div class="navigation">
                {{ knp_pagination_render(cartes) }}
            </div>

    </div>
</div>


{% endblock %}
